@import "vendors/normalize.css";
@keyframes meals-loading {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loading-screen {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 2;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -2;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("../../fonts/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  width: 100%;
  font-family: Roboto;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  box-shadow: 0 5px 5px #ccc;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  height: 1.5em;
}

footer {
  background-color: #555;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
}
footer img {
  width: 100px;
  filter: invert(100%) sepia(96%) saturate(0%) hue-rotate(6deg) brightness(110%) contrast(101%);
  margin-bottom: 20px;
}

.footer__element {
  margin: 5px 0 5px 0;
  position: relative;
  text-decoration: none;
  color: white;
}
.footer__element span {
  position: absolute;
  left: 30px;
}

.instruction-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5% 0 5% 0;
  position: relative;
  padding-left: 12.5px;
}
.instruction-card__number {
  background-color: #FF79DA;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  color: white;
  font-weight: bold;
}
.instruction-card__content {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ccc;
}
.instruction-card__content:hover {
  background-color: #ffdff6;
}
.instruction-card__content__icon {
  margin: 0 15px 0 20px;
}

.restaurant-card {
  border-radius: 20px;
  box-shadow: 0 5px 5px #ccc;
  margin: 20px 0 20px 0;
}
.restaurant-card__cover {
  width: 100%;
  position: relative;
}
.restaurant-card__cover img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant-card__cover.new::before {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 0 5px 0 5px;
}
.restaurant-card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  position: relative;
}
.restaurant-card__content .favorite-icon {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
  transform-origin: 50% 0%;
  background-color: #eee;
  color: red;
}
.restaurant-card__content .icon-inactive {
  color: black;
  overflow: hidden;
  height: 24px;
  transition: height 250ms ease-in-out;
  animation-fill-mode: both;
}
.restaurant-card__content .like-btn:active .icon-inactive {
  height: 0;
}

.meal-card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #99E2D0;
  align-items: center;
  margin: 15px 0 15px 0;
}
.meal-card__info {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: white;
  margin-right: 0;
  transition: margin-right 250ms;
  flex-shrink: 1;
}
.meal-card__name {
  padding: 10px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meal-card__name p {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.meal-card__price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  font-weight: bold;
}
.meal-card .fa-circle-check {
  height: 60px;
  width: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 1em;
  z-index: 0;
  transform: rotate(0deg);
  transition: width 250ms;
}
.meal-card:hover .meal-card__info {
  margin-right: 50px;
}
.meal-card:hover .fa-circle-check {
  width: 50px;
  transform: rotate(360deg);
  transition: width 250ms, transform 250ms;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading-screen 3s linear;
  animation-fill-mode: forwards;
}
.loading-screen .loading-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading-screen .loading-widget img {
  height: 2em;
}
.loading-screen .loading-widget p {
  font-size: large;
}
.loading-screen .loading-widget__spinner {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 8px solid #99E2D0;
  border-top-color: transparent;
  animation: spinner 1s infinite linear;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.description {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.description__location {
  background-color: #eee;
  width: 100%;
  height: 50px;
  z-index: -1;
}
.description h1 {
  margin: 10% 15% 0 15%;
  text-align: center;
}
.description__tagline {
  color: #555;
  margin: 5% 15% 5% 15%;
}
.description__explore-btn {
  height: 50px;
  text-decoration: none;
  padding: 0 5% 0 5%;
  border-radius: 25px;
  background-color: #FF79DA;
  display: inline-flex;
  align-items: center;
  color: white;
  z-index: 1;
  position: relative;
}
.description__explore-btn--bg {
  background-color: #ff93e1;
  box-shadow: 0 5px 5px #ccc;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}
.description__explore-btn:hover .description__explore-btn--bg {
  opacity: 1;
}

.instructions,
.restaurants {
  padding: 20px;
}

.fa-arrow-left {
  position: absolute;
  left: 20px;
  font-size: 1.5em;
}

main > img {
  object-fit: cover;
  width: 100%;
}

body {
  background-color: #eee;
}

.menu {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: #eee;
  position: relative;
  top: -40px;
  padding: 15px;
  box-sizing: border-box;
}
.menu .like-btn {
  position: absolute;
  font-size: 1.5em;
  top: 20px;
  right: 20px;
}
.menu h1 {
  font-family: Shrikhand;
  margin-top: 20px;
  font-size: 1.5em;
}
.menu h2 {
  font-size: 1em;
  display: inline-flex;
  flex-direction: column;
  font-weight: lighter;
}
.menu h2::after {
  content: "";
  width: 40px;
  height: 5px;
  background-color: #99E2D0;
}
.menu .favorite-icon {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 30px;
  transform-origin: 50% 0%;
  background-color: #eee;
  color: red;
}
.menu .icon-inactive {
  color: black;
  overflow: hidden;
  height: 24px;
  transition: height 250ms ease-in-out;
  animation-fill-mode: both;
}
.menu .like-btn:active .icon-inactive {
  height: 0;
}

.order-btn {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.order-btn__link {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
.order-btn__link--bg {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 5px 5px #ccc;
  border-radius: 25px;
  z-index: -1;
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  transition: opacity 250ms;
}
.order-btn__link:hover .order-btn__link--bg {
  opacity: 1;
}

.meal-list .meal-card:nth-child(1) {
  animation: meals-loading 1s;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}
.meal-list .meal-card:nth-child(2) {
  animation: meals-loading 1s;
  animation-delay: 450ms;
  animation-fill-mode: backwards;
}
.meal-list .meal-card:nth-child(3) {
  animation: meals-loading 1s;
  animation-delay: 550ms;
  animation-fill-mode: backwards;
}

/*# sourceMappingURL=style.css.map */
