$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$shadow-color: #ccc;
$grey-text: #eee;
$grey-background: #eee;

// It is not possible to get the number of meals dynamically without JS, so it is arbritrary.
$max-nb-meals: 4;

@mixin box-shadow {
    box-shadow: 0 5px 5px $shadow-color;
}

// @keyframes meals-loading {
//     @for $i from 1 to $max-nb-meals {
//         .meal-card:nth-child($i) {

//             0% {
//                 transition-delay: $i * 100ms;
//                 transform: translateY(50px);
//                 opacity: 0;
//             }

//             100% {
//                 transform: translateY(0px);
//                 opacity: 1;
//             }
//         }
//     }
// }