$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$shadow-color: #ccc;
$grey-text: #eee;
$grey-background: #eee;

@mixin box-shadow {
    box-shadow: 0 5px 5px $shadow-color;
}

@keyframes menu-loading {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }   
}