.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading-screen--vanish 3s linear;
    animation-fill-mode: forwards;

    .loading-widget {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 2em;
        }

        p {
            font-size: large;
        }

        &__spinner {
            $loading-spinner-radius: 80px;
            width: $loading-spinner-radius;
            height: $loading-spinner-radius;
            border-radius: $loading-spinner-radius;
            border: 8px solid $tertiary-color;
            border-top-color: transparent;
            animation: spinner--rotation 1s infinite linear;
        }

        @keyframes spinner--rotation {
            to {
                transform: rotate(360deg);
            }
        }
    }


    @keyframes loading-screen--vanish {
        0% {
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        99% {
            opacity: 0;
            z-index: 2;
        }

        100% {
            opacity: 0;
            display: none;
            z-index: -2;
        }
    }
}

.description {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;

    &__location {
        background-color: #e5e5e5;
        width: 100%;
        height: 50px;
        z-index: -1;
    }

    & h1 {
        margin: 50px 15px 0 15px;
        text-align: center;
    }

    &__tagline {
        color: #555;
        margin: 20px 15px 20px 15px;

    }

    &__explore-btn {
        height: 50px;
        text-decoration: none;
        padding: 0 20px 0 20px;
        border-radius: 25px;
        background-color: $secondary-color;
        display: inline-flex;
        align-items: center;
        color: white;
        z-index: 1;
        position: relative;

        &--bg {
            background-color: lighten($secondary-color, 5%);
            @include box-shadow;
            position: absolute;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 25px;
            z-index: -1;
            opacity: 0;
            transition: opacity 250ms;
        }

        &:hover {
            .description__explore-btn--bg {
                opacity: 1;
            }
        }
    }
}

.instructions,
.restaurants {
    padding: 20px;
}

@include desktop-tablet-display {
    .instructions>div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .restaurants-list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }
}