.fa-arrow-left {
    position: absolute;
    left: 20px;
    font-size: 1.5em;
}

body img {
    object-fit: cover;
    width: 100%;
}

body {
    background-color: $grey-background;
}

#menu {
    width: 100%;
    background-color: $grey-background;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -40px;
    padding: 15px;
    box-sizing: border-box;

    i {
        position: absolute;
        font-size: 1.5em;
        top: 40px;
        right: 40px;
    }

    h1 {
        font-family: Shrikhand;
        margin-top: 20px;
        font-size: 1.5em;
    }

    section > h2 {
        font-size: 1em;
        display: inline-flex;
        flex-direction: column;

        &::after {
            content: "";
            width: 40px;
            height: 5px;
            background-color: $tertiary-color;
        }

    }
}

#order-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;

    .order-btn__link {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: none;
        color: white;
        background-image: linear-gradient($secondary-color, $primary-color);
    }
}