.return-btn {
    position: absolute;
    left: 20px;

    i {
        font-size: 1.5em;
    }
}

main>img {
    object-fit: cover;
    width: 100%;
}

body {
    background-color: $grey-background;
}

.menu {
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: $grey-background;
    position: relative;
    top: -40px;
    padding: 15px;
    box-sizing: border-box;

    .like-btn {
        position: absolute;
        font-size: 1.5em;
        top: 20px;
        right: 0;
    }

    h1 {
        font-family: Shrikhand;
        margin-top: 20px;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        display: inline-flex;
        flex-direction: column;
        font-weight: lighter;

        &::after {
            content: "";
            width: 40px;
            height: 5px;
            background-color: $tertiary-color;
        }
    }

    @include like-btn--onlike;
}

.order-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;

    &__link {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: none;
        color: white;
        background: linear-gradient($secondary-color, $primary-color);
        position: relative;
        z-index: 1;

        &--bg {
            width: 100%;
            height: 100%;
            position: absolute;
            @include box-shadow;
            border-radius: 25px;
            z-index: -1;
            background: linear-gradient(lighten($secondary-color, 5%), lighten($primary-color, 5%));
            opacity: 0;
            transition: opacity 250ms;
        }

        &:hover {
            .order-btn__link--bg {
                opacity: 1;
            }
        }
    }
}

.meal-list {
    @for $i from 1 to $max-nb-meals {
        .meal-card:nth-child(#{$i}) {
            animation: meals-loading 1s;
            animation-delay: $i * 100ms + 250ms;
            animation-fill-mode: backwards;
        }
    }
}

@keyframes meals-loading {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@include desktop-tablet-display {
    main>img {
        object-fit: cover;
        width: 100%;
        max-height: 520px;
    }

    .menu>section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .meal-category {
        margin: 10px;
        width: 345px;
    }
}