// Home page

.instruction-card {
    $number-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
    position: relative;
    padding-left: calc($number-size / 2);

    &__number {
        background-color: $primary-color;
        width: $number-size;
        height: $number-size;
        border-radius: $number-size;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        color: white;
        font-weight: bold;
    }

    &__content {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 60px;
        background-color: #eee;
        border-radius: 20px;
        @include box-shadow;

        &:hover {
            background-color: lighten($color: $primary-color, $amount: 33%);
        }

        &__icon {
            margin: 0 15px 0 20px;
        }
    }
}

.restaurant-card {
    border-radius: 20px;
    @include box-shadow;
    margin: 20px 0 20px 0;

    &__cover {
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            height: 200px;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        &.new::before {
            content: "Nouveau";
            background-color: $tertiary-color;
            color: darken($color: $tertiary-color, $amount: 40%);
            position: absolute;
            top: 10%;
            right: 5%;
            padding: 0 5px 0 5px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        position: relative;
        @include like-btn--onlike;
    }

    @include desktop-tablet-display {
        width: 40%;
        margin: 10px;
    }
}





// Menu page

.meal-card {
    $transition-duration: 250ms;
    $add-animation-size: 50px;
    $meal-card-height: 60px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: $meal-card-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $tertiary-color;
    align-items: center;
    margin: 15px 0 15px 0;

    &__info {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        background-color: white;
        margin-right: 0;
        transition: width $transition-duration;
        flex-shrink: 1;
    }

    &__name {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
            width: 90%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            animation: width $transition-duration;
        }
    }

    &__price {
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
        font-weight: bold;
    }

    .fa-circle-check {
        height: $meal-card-height;
        width: 0;
        border-radius: 0 15px 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        font-size: 1em;
        z-index: 0;
        transform: rotate(0deg);
        transition: width $transition-duration;
    }

    &:hover {
        .meal-card__info {
            width: 80%;
        }

        .meal-card__name {
            width: 80%;
        }

        .fa-circle-check {
            width: 20%;
            transform: rotate(360deg);
            transition: width $transition-duration, transform $transition-duration;
        }
    }
}

.footer__element {
    margin: 5px 0 5px 0;
    position: relative;
    text-decoration: none;
    color: white;

    span {
        position: absolute;
        left: 30px;
    }
}