// Home page

.instruction-card {
    $number-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5% 0 5% 0;
    position: relative;
    padding-left: calc($number-size / 2);

    &__number {
        background-color: $secondary-color;
        width: $number-size;
        height: $number-size;
        border-radius: $number-size;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        color: white;
        font-weight: bold;
    }

    &__content {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 60px;
        background-color: #eee;
        border-radius: 20px;
        @include box-shadow;

        &:hover {
            background-color: lighten($color: $secondary-color, $amount: 20%);
        }

        &__icon {
            margin: 0 15px 0 20px;
        }
    }
}

.restaurant-card {
    border-radius: 20px;
    @include box-shadow;
    margin: 20px 0 20px 0;

    &__cover {
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            height: 200px;
            width: 100%;
            border-radius: 20px 20px 0 0;
        }

        &::before {
            content: "Nouveau";
            background-color: $tertiary-color;
            color: darken($color: $tertiary-color, $amount: 40%);
            position: absolute;
            top: 10%;
            right: 5%;
            padding: 0 5px 0 5px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        position: relative;

        .favorite-icon {
            font-size: 24px;
            position: absolute;
            top: 20px;
            right: 30px;
            transform-origin: 50% 0%;
            background-color: $grey-background;
            color: red;
        }

        .icon-inactive {
            color: black;
            overflow: hidden;
            height: 24px;
            transition: height 250ms ease-in-out;
            animation-fill-mode: both;
        }

        .like-btn:active {
            .icon-inactive {
                height: 0;
            }
        }
    }
}





// Menu page

.meal-card {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    padding-right: 50px;
    position: relative;

    &__name {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 1;
        width: 100%;

        p {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__price {
        position: absolute;
        bottom: 10px;
        right: 10px;
        margin: 0;
    }
}