@font-face {
    font-family: 'Shrikhand';
    src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    width: 100%;
    font-family: Roboto;
}

header {
    height: 50px;
    box-shadow: 0 5px 5px $shadow-color;
    #logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 40px;
        }
    }
}