@font-face {
    font-family: 'Shrikhand';
    src: url('../../fonts/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    width: 100%;
    font-family: Roboto;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}